<%- include("partials/header"); %>
<h1>Home</h1>
<p><%= startContent %> </p>
<% posts.forEach((post) => { %>
    <% const strContent = post.content.substring(100, post.content) %>  
    <h3><%= post.title %> </h3>
    <div class="content"><p><%= strContent %>... <a class="read-more" href="/posts/<%= post._id%>" name="postId">Read More</a></p> </div>
    <% }); %>
<%- include("partials/footer"); %>